body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    background-color: rgb(201, 201, 201);
  }
  .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
  }

.fon{
    background-color: rgb(201, 201, 201);
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 80vh;
    margin: 0 auto;
}
p.none {
    border-style: none;
    background: blue;
}
h2{
    color: rgb(157, 78, 221);
}

h1, h2{
    margin: 0%;
}

.container_1{
    margin-bottom: 20px;
}
.button_1{
    padding: 10px 30px;
    border-radius: 20px;
    color: wheat;
    border: none;
    background-image: linear-gradient(to right, rgb(0, 183, 255), rgb(162, 0, 255));

}
